body {
  width: 300px;
  height: 260px;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

.dnd-sortable-tree_simple_tree-item {
  margin: 2px !important;
  padding: 0px !important;
  padding-left: 10px !important;
  border-radius: 8px !important;
  overflow: hidden;
}

.dnd-sortable-tree_simple_tree-item:hover {
  border-color: var(--color-gray-600);
}
